body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  margin: 1rem;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}

td {
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  padding: 50px; /* Add padding to each cell */
}

a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}
