body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  margin: 0;
}

p {
  color: rgb(2, 0, 136);
  font: bold 24px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
table {
  border-collapse: collapse;
  margin: 20px 0;
}
table, th, td {
  border: 1px solid black;
  text-align: center;
}
td {
  width: 50px;
  height: 50px;
}
td a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
  font-size: 20px;
}
.cell {
  margin: 0;
}